<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Owners list</title>
    <style>
        .simple-table {
            border: 1px solid black;
        }
        .simple-table tr {
            border: 1px solid black;
        }

        .simple-table td {
            border: 1px solid black;
            text-align: center;
            white-space: nowrap;
        }

    </style>
</head>
<body>
<h1 th:text="'List of pets'">List of Pets</h1>
<table class="simple-table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Birthday</th>
        <th>Owner</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pet : ${pets}">
        <td th:text="${pet.name}"></td>
        <td th:text="${pet.petType.name}"></td>
        <td th:text="${pet.birthData}"></td>
        <td>
            <p th:text="${pet.owner.firstName}"></p>
            <p th:text="${pet.owner.lastName}"></p>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
